async-timeout
certifi
charset-normalizer
click
Deprecated
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
oauthlib
packaging
pyparsing
redis
requests
requests-oauthlib
tweepy
urllib3
waitress
Werkzeug
wrapt
zipp
